  @import url(https://fonts.googleapis.com/css?family=arial);

html, body{
  height: 100%;
}

body{
  background: black;
  font-color:white;
}

svg {
    display: block;
    font: 10.5em 'poppins';
    width: 760px;
    height: 200px;
    
    margin: auto;

}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke:  floralwhite;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke:  floralwhite;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke:  floralwhite;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke:  floralwhite;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: floralwhite;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* SCRO animationn ends*/
 
@media screen and (max-width: 480px) 
  {
     svg {
  
    display: block;
    font: 10.5em 'poppins';
    width: 760px;
    height: 200px;
    
    margin-bottom: -30px;

}

h3 
{
	 
	font-color: white;
	font-size: 20px;
	font:'poppins';
	text-align: center;
    text-transform: capitalize;
    font: -webkit-control;
    font-weight: 300;
    color: floralwhite;
}



  }


 


/*full form scro */
h3 
{
	 
	font-color: white;
	 
	font:'poppins';
	text-align: center;
    text-transform: capitalize;
    font: -webkit-control;
    font-weight: 300;
    color: floralwhite;
}

.txt-rotate
{
	font-color: #fff;
	font-size: 50px;
	font-family: 'Raleway';

}
